/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.header div div {
	  display: block;
	  float: none !important;
	  text-align: center;
	}
	#logo {
	  position: relative;
	}
	.member {
		margin:10px 0;
	}
	#menu {
	  display: block;
	  margin:10px 0;
	}
	.nav > li {
		float:none;
	}
	#calendar table tbody tr td.thead {
	  padding: 10px 5px;
	  text-align: center;
	}
	#calendar table tbody tr td {
	  padding: 10px 5px;
	  text-align: center;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	  font-size: 12px;
	}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

	.ipad_width {
		width: 100%!important;
		margin: 0px;

	}
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}