/* Custom style */
.center {
  display: block;
  text-align: center;
}
.header {
  background-color: #212a33;
  display: block;
  min-height: 50px;
  padding-top: 5px;
  width: 100%;
}

#content {
  display: block;
  min-height: 50px;
  width: 100%;
}

.frame {
	border:1px solid #F00;
	display:block;
	min-height:50px;
}

#logo {
  left: 1px;
  position: absolute;
  top: 1px;
  z-index: 999;
}

#menu {
  display: inline-block;
  margin-right: 20px;
}

.member {
  display: inline-block;
  vertical-align: top;
}

.member a {
  background-color: #333e48;
  color: #fff;
  display: block;
  padding: 10px 26px;
  text-decoration: none;
}

.member a:hover {
	text-decoration:none;
	background-color:#2B3741;
	cursor:pointer;
	color:#eee;
}

.features {
	padding:50px 0;	
}

.features div img {
	margin-bottom:20px;
	border:5px solid #2ecc71;
}

.features div p {
  color: #e1e1e1;
  line-height: 25px;
}

.booking_preview {
	background-color:#297fb8;
	padding:40px 0;	
}

.booking_preview h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

.booking_preview p {
	color:#fff;
	text-align:center;
	margin-bottom:20px;
}

.review {
	background-color:#fff;
	padding:40px 0;	
}

.ready {
	background-color:#d22c1b;
	padding:40px 0;	
}

.ready h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom:30px;
}

.register, .page {
	background-color:#ebecee;
	padding:40px 0 80px;	
}

.register h1, .register h2, .register h3, .page h1, .page h2, .page h3 {
  font-weight: 300;
}

.register h1 {
	margin-bottom:50px;
}

.footer_link {
  display: block;
  padding: 50px 10px;
  text-align: center;
}

.footer_link a {
  color: #9ea2a6;
  font-weight: 300;
  margin: 0 10px;
}

#order_history {

}

.table_header {
  background-color: #20b59f;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

.account_menu li a {
  line-height: 28px;
}

.account_menu li i {
  margin-top: 8px;
  width: 24px;
}

select.dob_input {
  width: 33.33%;
}

.input_form {
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  padding: 20px;
}

.post {
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
  padding-bottom: 10px;
  padding-top: 10px;
}


/* Payment gateway */

body.pp_bg {
  background-color: #fff;
  font-family: arial;
  margin-top: 50px;
}

.pp_box {
  border: 1px solid #c2c2c2;
  margin-bottom: 50px;
  padding: 10px;
}

.pp_header {
  border-bottom: 1px solid #ddd;
  color: #2674b4;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.pp_form {
  font-size: 12px;
}

.pp_form input {
  border: 1px solid #bed0ea;
}

.pp_form table  tbody  tr td {
  padding: 2px;
}

.pp_form table > tbody > tr:first-child > td:first-child {
  min-width: 96px;
}

#order_summary {
  border: 1px solid #EAEAEA;
  padding: 13px;

  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#969696));
  background: -webkit-linear-gradient(#FFFFFF, #969696);
  background: -moz-linear-gradient(#FFFFFF, #969696);
  background: -ms-linear-gradient(#FFFFFF, #969696);
  background: -o-linear-gradient(#FFFFFF, #969696);
  background: linear-gradient(#FFFFFF, #969696);
  -pie-background: linear-gradient(#FFFFFF, #969696);
}

.order_content {
  background-color: #fff;
  min-height: 237px;
  padding: 10px;
  width: 100%;
}

table.order_details {
  font-size: 13px;
  text-align: left;
  width: 100%;
}

table.order_details tr td {
  padding: 3px 10px;
  vertical-align: top;
}

table.order_details tr:first-child td {
  background-color: #ddd;
  color: #444444;
}

.blue {
  border-bottom: 1px dashed;
  color: #00379c;
}

input.btn_pp {
    background-image: url(../images/btn-pp.jpg);
    background-position:  0px 0px;
    background-repeat: no-repeat;
    width: 82px;
    height: 21px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    outline: 0;
}

/* EOL Payment gateway */


.pagination .links {
  display: block;
  float: right;
  margin-bottom: 10px;
}

.pagination .links b {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}

.pagination .links a {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
    background-color: #7f8c8d;
    border-color: #7f8c8d;
    color: #fff;
}

.pagination .results {
  color: #676767;
  font-size: 13px;
}

article.announcement {
  margin-top: 30px;
}

article.announcement p {
  line-height: 22px;
  margin-bottom: 20px;
}

.date {
  background-color: #ddd;
  color: #6a6a6a;
  display: inline-block;
  font-style: italic;
  padding: 2px 10px;
}

article.announcement .date {
  margin-bottom: 10px;
}

.date {
  font-size: 12px;
  margin-bottom: 10px;
}

label.error {
  background-color: #b03939;
  color: #fff;
  display: block;
  font-style: italic;
  font-weight: 400;
  margin-top: 2px;
  padding: 5px 10px;
}

label.valid {
  padding: 0;
}

#rss_feed {
  margin-top: 10px;
}


#rss_feed ul {
  margin-left: 0;
  padding-left: 20px;
}

#rss_feed ul li {
  color: #4671c1;
  line-height: 24px;
  display: block;
}

#rss_feed ul li a {
  padding-left: 10px;
}


/* calendar */
.preloader {
  width:64px;
  height: 64px;
  display: block;
  margin: 100px auto 0;
}

#success {
  background-color:#fff;
  width:100%;
  min-height:400px;
  vertical-align:top;
  display:block;
}

#calendar table {
  border-collapse: collapse;
}

#calendar table tbody tr td {
  border: 1px solid #DDDDDD;
  padding: 10px 20px;
}

#calendar table tbody tr:nth-child(odd) td {
  background-color: #F1F1F1;  
}

#calendar table tbody tr td.thead {
  background-color: #169FA2;
  border: 1px solid #DDDDDD;
  color: #FFFFFF;
  padding: 10px 20px;
}

#calendar table tbody tr td.slot {
  font-size: 12px;
  width: 110px;
}

#calendar table tbody tr td.slot:hover {
  outline: none;
  border-color: #24AD50;
  box-shadow: 0 0 10px #24AD50;
  cursor:pointer;
}
#calendar table tbody tr td.booked:hover, #calendar table tbody tr td.passed:hover {
  outline: none;
  border:none!important;
  box-shadow: none!important;
  cursor:pointer;
}

.selected {
  background-color: #24AD50 !important;
  color: #FFFFFF !important;
  cursor: pointer;
  outline: medium none;
}

.booked {
  background-color: #E14F4F !important;
  color: #FFFFFF;
  cursor: pointer;
  outline: medium none;
  font-size: 12px;
  width: 110px;
}

.passed {
  background-color: #d5d5d5 !important;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  outline: medium none;
  width: 110px;
}


/* Navigation */
#calendar, #calendar table, #court_panel, #customer_panel {
  display: inline-block;
  width: 100%;
}

#court_panel, #customer_panel {
  background-color: #E8E8E8;
  margin-bottom: 20px;
}

#customer_panel select {
  width:200px;
    margin: 10px 0;
  padding:5px;
  
}

.court_slot {
  background-color: #F1F1F1;
  border: 1px solid #DDDDDD;
  color: #242424;
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
}

.court_slot:hover {
  background-color:#31A07D;
  cursor:pointer;
  color:#fff;
}

.inner_header {
  background-color: #878787;
  padding: 7px 14px;
}

.inner_header p {
  color: #FFFFFF;
  display: inline-block;
  margin: 3px 0 0;
}

.navigation {
  display: inline-block;
  float:right;
}

.navigation a {
  background-color: #474747;
  color: #FFFFFF;
  display: inline-block;
  font-size: 13px;
  padding: 5px 21px;
  text-decoration: none;
}

#slot div {
  border-bottom: 1px solid #CDCDCD;
  color: #127331;
  font-size: 15px;
  margin-bottom: 5px;
  padding-bottom: 1px;
}

#total, #payment_method {
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}

#total table, #payment_method table {
  width:100%;
}

#total table thead tr td, #payment_method table thead tr td {
  background-color: #d8d6e0;
  color: #282828;
  font-size: 14px;
  padding: 8px 10px;
}

#total table tbody tr td, #payment_method table tbody tr td {
  background-color: #f9f9f9;
  border: 1px solid #efefef;
  color: #242424;
  font-size: 14px;
  font-weight: 300;
  padding: 8px 10px;
}

#payment_method p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 10px;
}

#payment_method input[type="radio"] {
  margin-right: 10px;
}

#result {
  color: #3D3D3D;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.navigation a:hover {
  text-decoration: none;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cash_reload {
  
}